.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: fixed !important;
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: 100;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.nav-logo img {
  height: 40px;
  filter: invert(1);
  object-fit: cover;
  -webkit-user-drag: none;
}

.nav-burger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
  -webkit-tap-highlight-color: transparent;
}

.burger-line {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
  will-change: transform, opacity;
}

.burger-line.open:nth-child(1) {
  transform: rotate(45deg) translate(4px, 3px);
}

.burger-line.open:nth-child(2) {
  opacity: 0;
  transform: translateZ(0); /* Safari repaint fix */
}

.burger-line.open:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.nav-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3.5rem 1rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 20;
  min-width: 50%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.nav-dropdown button {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
  padding: 0.5rem 1rem;
  border: none;
  background: hsla(0, 0%, 0%, 0.5);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  min-width: 95px;
  transition: transform 0.1s ease;
  -webkit-tap-highlight-color: transparent;
}

.nav-actions {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav-dropdown button:active {
  transform: scale(0.95);
}

.nav-filters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-filters label {
  color: white;
  font-size: 0.9rem;
  border-bottom: 1px solid white;
}